[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"

[dev-packages]
flake8 = "==7.0.0"
flake8-commas = "==2.1.0"
flake8-quotes = "==3.4.0"
mypy = "==1.10.0"
yapf = "==0.40.2"
types-requests = "==2.31.0.20240406"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
